:root {
  --form-select-width: 7rem;
}

.form-type__select__container {
  display: flex;
  position: relative; /* Make the container relative to position the moving bar */
}

.form-type__select {
  color: var(--black);
  opacity: 0.45;
  width: var(--form-select-width);
  padding-bottom: 0.5rem;
}

.form-type__select:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.form-type__select.active:hover {
  opacity: 1;
  color: var(--red-11);
}

.form-type__select.active {
  opacity: 1;
  color: var(--primary);
}

.form-type__select__underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 2rem;
  background-color: var(--primary);
  transition: transform 0.3s ease;
}

@keyframes growShrink {
  0% {
    width: 50%;
  }
  50% {
    width: 80%; /* Grow to 80% */
  }
  100% {
    width: 50%; /* Shrink back to 50% */
  }
}
