.page__layout {
  display: flex;
  min-height: 100vh;
}

.page__layout-left,
.page__layout-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page__layout-right {
  background-image: url("../../../public/resources/images/login-image.jpg");
  background-size: cover;
  background-position: center 40%;
}

.page__layout-right-link {
  height: 100%;
  width: 100%;
}
