.uploads-dashboard {
  max-width: 1400px;
  width: 100%;
}

.uploads-dashboard__titles-title {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1.25rem;
  padding-bottom: 0.3rem;
  border-bottom: #8b8d98 1px solid;
}

.uploads-dashboard__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem;
}

.uploads-dashboard__spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}
