.upload__card {
  display: flex;
  flex-direction: column;
  aspect-ratio: 10 / 9;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  border-radius: 0.6em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  background-color: var(--white);
  padding: 0.5rem;
  box-sizing: border-box;
}

.upload__card:hover {
}

.upload__card-image {
  flex-grow: 1;
  height: 80%;
  overflow: hidden;
  border-radius: 0.6em;
}

.upload__card-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upload__card__content {
  margin: 0 0.2rem;
}

.upload__card-titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.6rem 0;
}

.upload__card-titles-title {
  font-size: 1rem;
  font-weight: 500;
}

.upload__card-titles-status {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.upload__card-titles-status-icon {
  display: flex;
  align-items: center;
}
