.alert__container {
  display: flex;
  height: 3rem;
  align-items: center;
  background-color: var(--error-primary-background);
  border: 2px solid var(--error-border);
  padding: 8px;
}

.alert__body {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 8px;
}

.alert__icon {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.alert__text {
  color: var(--error-primary);
}

.alert__close {
  width: 35px;
  height: 17px;
  opacity: 0.7;
  fill: var(--error-primary);
}

.alert__close:hover,
.alert__close:focus {
  cursor: pointer;
  opacity: 1;
}
