:root {
  --blur--strength: 5px;
  --navbar-scrolled-transition: all 0.4s ease-out;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  height: var(--navbar-height);
  left: 0;
  right: 0;
  color: var(--white);
  transition: var(--navbar-scrolled-transition);
}

.scrolled {
  height: var(--navbar-height-scrolled);
  background-color: var(--background-rgba);
  color: var(--black);
}

.navbar__start {
  font-size: 3.75rem;
  transition: var(--navbar-scrolled-transition);
}

.scrolled .navbar__start {
  font-size: 2rem;
}

.navbar__end {
  display: flex;
  font-size: 1rem;
  gap: 9rem;
}

.navbar__end > ul {
  list-style: none;
}

/* Hamburger menu  */
.nav__hamburger {
  display: none;
  width: 1.875rem;
  height: 1.313rem;
  flex-direction: column;
  justify-content: space-around;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.nav__hamburger__line {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #000000;
  border-radius: 0.625rem;
  transition: all ease-in-out 0.2s;
}

@media screen and (max-width: 700px) {
  .nav__hamburger {
    display: flex;
    z-index: 200;
  }

  .navbar__end {
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: -15rem;
    left: 0;
    width: 100%;
    transition: top ease-out 0.4s;
    background-color: var(--background-rgba);
    gap: 0;
    z-index: -1;
  }

  .navbar__end ul {
    padding: 2rem 0;
  }

  .navbar__end.active {
    top: var(--navbar-height-scrolled);
  }

  .nav__hamburger.active :nth-child(1) {
    transform: rotate(45deg) translate(0.45rem, 0.1875rem);
  }

  .nav__hamburger.active :nth-child(2) {
    opacity: 0;
  }

  .nav__hamburger.active :nth-child(3) {
    transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
  }
}
