.home__layout {
  width: 100%;
}

.home__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
  top: calc(var(--navbar-height-scrolled) + 5vh);
  width: max(500px, 85%);
  margin: 0 auto;
  padding: 20px 20px;
}

.home__header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home__titles-title {
  font-size: 45px;
  margin: 0;
}

.home__spinner {
  display: flex;
  position: relative;
  top: 15vh;
  justify-content: center;
}
