.upload__card {
  position: relative;
  display: flex;
  flex-direction: column;
  aspect-ratio: 1 / 1;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
}

.upload__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.675);
  opacity: 0;
  transition: opacity 0.16s ease;
  z-index: 1;
}

.upload__card:hover::before {
  opacity: 1;
}

.upload__card-image {
  flex-grow: 1;
  height: 80%;
  overflow: hidden;
  z-index: 0;
}

.upload__card-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upload__card-titles {
  display: flex;
  flex-direction: column;
  margin: 0.6rem 0;
}

.upload__card-titles-title {
  font-size: 1rem;
  font-weight: 500;
}

.upload__card-titles-subtitle {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--red-8);
}

.upload__card-details-date {
  font-size: 0.875rem;
  color: var(--gray-8);
}
