.upload__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  height: calc(100vh - 5rem);
}

.upload__form {
  height: 80vh;
  max-height: 1000px;
}
